In [23]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import math
import statistics as stat

In [24]:
salesdata = pd.read_csv('C:/Users/ehksd/Downloads/Sales_add.csv')

In [25]:
salesdata.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [26]:
salesdata.shape

(22, 5)

In [27]:
salesdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [28]:
salesdata.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [29]:
salesdata.mean()

C:\Users\ehksd\AppData\Local\Temp\ipykernel_18888\1553055228.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  salesdata.mean()

Sales_before_digital_add(in $)    149239.954545
Sales_After_digital_add(in $)     231123.727273
dtype: float64

In [30]:
salesdata.var()

C:\Users\ehksd\AppData\Local\Temp\ipykernel_18888\3518571547.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  salesdata.var()

Sales_before_digital_add(in $)    2.203456e+08
Sales_After_digital_add(in $)     6.531489e+08
dtype: float64

In [31]:
salesdata.std()

C:\Users\ehksd\AppData\Local\Temp\ipykernel_18888\4108086823.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  salesdata.std()

Sales_before_digital_add(in $)    14844.042921
Sales_After_digital_add(in $)     25556.777061
dtype: float64

In [32]:
salesdata.skew()

C:\Users\ehksd\AppData\Local\Temp\ipykernel_18888\186631349.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  salesdata.skew()

Sales_before_digital_add(in $)    0.578033
Sales_After_digital_add(in $)    -0.022669
dtype: float64

In [33]:
stat.mean(salesdata['Sales_before_digital_add(in $)'])

149239.95454545456

In [34]:
stat.mean(salesdata['Sales_After_digital_add(in $)'])

231123.72727272726

In [35]:
salesdata[['Sales_before_digital_add(in $)','Sales_After_digital_add(in $)']].describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [36]:
from statsmodels.stats import weightstats as stests

In [37]:
ztest ,propability_value = stests.ztest(salesdata['Sales_before_digital_add(in $)'], x2=None, value=149240)
print(float(propability_value))
if propability_value<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

0.9999885402136881
Null hyphothesis accepted , Alternative hyphothesis rejected